.boomboxOutline {
    display: flex;
    height: 800px;
    width: 1400px;
    outline: 2px solid black;
}

.boomboxColumn {
    width: 33.33%;
    height: 100%;
    position: relative;
}

.middleColumn {
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

.boomboxWooferLeft {
    width: 400px;
    height: 400px;
    outline: 2px solid black;
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
    left: 15px;
}

.boomboxWooferRight {
    width: 400px;
    height: 400px;
    outline: 2px solid black;
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
    right: 15px;
}

.boomboxTweeterLeft {
    height: 150px;
    width: 150px;
    outline: 2px solid black;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 15px;
}

.boomboxTweeterRight {
    height: 150px;
    width: 150px;
    outline: 2px solid black;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 15px;
}

.boomboxTweeterRight {
    height: 150px;
    width: 150px;
    outline: 2px solid black;
    border-radius: 50%;
}

/* Casette */

.cassetteContainer {
    width: 400px;
    height: 300px;
    outline: 2px solid black;
    position: absolute;
    bottom: 150px;
    left: 30px;
    border-radius: 3px;
}

.cassetteWindow {
    width: 300px;
    height: 120px;
    outline: 2px solid black;
    border-radius: 3px;
    position: absolute;
    bottom: 40px;
    left: 50px;
}

/* Casette Buttons */

.cassetteButtonRow {
    width: 400px;
    height: 100px;
    outline: 1px solid gray;
    position: absolute;
    bottom: 10px;
    left: 30px;
    border-radius: 5px;
    display: flex;
    background-color: gray;
}

.buttonRowButton {
    height: 80px;
    width: 70px;
    outline: 2px solid black;
    border-radius: 5px;
    background: linear-gradient(
        0deg,
        rgba(94, 92, 92, 1) 0%,
        rgba(221, 217, 217, 1) 100%
    );
}

.buttonRowButton > img {
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
