.boomboxOutline {
    display: flex;
    height: 800px;
    width: 1400px;
    outline: 2px solid black;
}

.boomboxColumn {
    width: 33.33%;
    height: 100%;
    position: relative;
    background: linear-gradient(
        180deg,
        rgba(187, 170, 170, 1) 0%,
        rgba(221, 217, 217, 1) 100%
    );
}

.middleColumn {
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

@keyframes wooferAnimation {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.005);
    }
    50% {
        transform: scale(1.002);
    }

    75% {
        transform: scale(1.009);
    }
    100% {
        transform: scale(1.008);
    }
}

.boomboxWooferLeft {
    width: 400px;
    height: 400px;
    outline: 5px solid black;
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
    left: 15px;
    background: radial-gradient(
        circle,
        rgba(94, 92, 92, 1) 30%,
        rgba(221, 217, 217, 1) 100%
    );
}

.leftWooferInner {
    width: 150px;
    height: 150px;
    outline: 2px solid black;
    border-radius: 50%;
    margin-top: 32%;
    margin-left: 32%;
    background: radial-gradient(
        circle,
        rgba(221, 217, 217, 1),
        rgba(94, 92, 92, 1)
    );
}

.rightWooferInner {
    width: 150px;
    height: 150px;
    outline: 2px solid black;
    border-radius: 50%;
    margin-top: 32%;
    margin-left: 32%;
    background: radial-gradient(
        circle,
        rgba(221, 217, 217, 1),
        rgba(94, 92, 92, 1)
    );
}

.boomboxWooferRight {
    width: 400px;
    height: 400px;
    outline: 5px solid black;
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
    right: 15px;
    background: radial-gradient(
        circle,
        rgba(94, 92, 92, 1) 30%,
        rgba(221, 217, 217, 1) 100%
    );
    /* animation: wooferAnimation 0.5s linear infinite; */
}

.boomboxTweeterLeft {
    height: 150px;
    width: 150px;
    border: 20px solid black;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 15px;
    background: radial-gradient(
        circle,
        rgba(94, 92, 92, 1) 30%,
        rgba(221, 217, 217, 1) 100%
    );
}

.leftTweeterInner {
    height: 50px;
    width: 50px;
    outline: 2px solid black;
    border-radius: 50%;
    margin-top: 32%;
    margin-left: 32%;
    background: radial-gradient(
        circle,
        rgba(221, 217, 217, 1),
        rgba(94, 92, 92, 1)
    );
}

.rightTweeterInner {
    height: 50px;
    width: 50px;
    outline: 2px solid black;
    border-radius: 50%;
    margin-top: 32%;
    margin-left: 32%;
    background: radial-gradient(
        circle,
        rgba(221, 217, 217, 1),
        rgba(94, 92, 92, 1)
    );
}

.boomboxTweeterRight {
    height: 150px;
    width: 150px;
    border: 20px solid black;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 15px;
    background: radial-gradient(
        circle,
        rgba(94, 92, 92, 1) 30%,
        rgba(221, 217, 217, 1) 100%
    );
}

/* Casette */

.cassetteContainer {
    width: 400px;
    height: 300px;
    outline: 2px solid black;
    position: absolute;
    bottom: 150px;
    left: 30px;
    border-radius: 3px;
    background-color: whitesmoke;
    transform-origin: bottom;
}

@keyframes doorOpen {
    0% {
        transform: rotateX(10deg);
        border-top: 2px solid black;
    }
    50% {
        transform: rotateX(20deg);
        box-shadow: 5px 5px 5px black;
    }
    100% {
        transform: rotateX(30deg);
        box-shadow: 10px 10px 10px black;
        border-top: 35px solid black;
    }
}

@keyframes doorClose {
    0% {
        transform: rotateX(30deg);
        box-shadow: 10px 10px 10px black;
        border-top: 35px solid black;
    }
    50% {
        transform: rotateX(10deg);
        box-shadow: 5px 5px 5px black;
        border-top: 10px solid black;
    }
    100% {
        box-shadow: none;
        border-top: none;
    }
}

.cassetteContainerOpen {
    animation: doorOpen 2s linear;
    animation-fill-mode: forwards;
}

.cassetteContainerClosed {
    animation: doorClose 2s linear;
    animation-fill-mode: forwards;
}

.cassetteWindow {
    width: 300px;
    height: 120px;
    outline: 2px solid black;
    border-radius: 3px;
    position: absolute;
    bottom: 40px;
    left: 50px;
    overflow: hidden;
    background-color: gray;
}
.cassetteInnerWindow {
    width: 125px;
    height: 50px;
    outline: 2px solid lightgray;
    border-radius: 3px;
    position: absolute;
    left: 85px;
    top: 45px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    z-index: 9;
}

@keyframes spoolAnimationOpen {
    0% {
        transform: rotateX(-5deg);
        box-shadow: 2px 2px 2px darkgray;
    }
    50% {
        transform: rotateX(-10deg);
        box-shadow: 10px 10px 10px darkgray;
    }
    100% {
        transform: rotateX(-15deg);
        box-shadow: 15px 15px 15px darkgray;
    }
}

@keyframes spoolAnimationClose {
    0% {
        transform: rotateX(-15deg);
        box-shadow: 15px 15px 15px darkgray;
    }
    50% {
        transform: rotateX(-10deg);
        box-shadow: 10px 10px 10px darkgray;
    }
    100% {
        transform: none;
        box-shadow: none;
    }
}

.cassetteSpoolAnimationOpen {
    animation: spoolAnimationOpen 2s linear;
    animation-fill-mode: forwards;
}

.cassetteSpoolAnimationClose {
    animation: spoolAnimationClose 2s linear;
    animation-fill-mode: forwards;
}

.cassetteSpoolLeft {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    outline: 2px solid black;
    position: absolute;
    left: -10px;
    background-color: white;
    transform-origin: top;
}

.cassetteSpoolRight {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    outline: 2px solid black;
    position: absolute;
    right: -10px;
    background-color: white;
    transform-origin: top;
}

.cassetteSpoolInnerLeft {
    height: 75px;
    width: 75px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='black' stroke-width='7' stroke-dasharray='50%25%2c 13%25' stroke-dashoffset='86' stroke-linecap='butt'/%3e%3c/svg%3e");
    border-radius: 100px;
    position: absolute;
    left: 35px;
    top: 40px;
}

.cassetteSpoolInnerRight {
    height: 75px;
    width: 75px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='black' stroke-width='7' stroke-dasharray='50%25%2c 13%25' stroke-dashoffset='86' stroke-linecap='butt'/%3e%3c/svg%3e");
    border-radius: 100px;
    position: absolute;
    left: 35px;
    top: 40px;
    /* animation: cassettePlayAnimation 2s linear infinite; */
}

@keyframes cassettePlayAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes cassetteRewindAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

/* Casette Buttons */

.cassetteButtonRow {
    width: 400px;
    height: 100px;
    outline: 1px solid gray;
    position: absolute;
    bottom: 10px;
    left: 30px;
    border-radius: 5px;
    display: flex;
    background-color: whitesmoke;
}

.buttonRowButton {
    height: 80px;
    width: 70px;
    outline: 2px solid black;
    border-radius: 5px;
    background: linear-gradient(
        0deg,
        rgba(94, 92, 92, 1) 0%,
        rgba(221, 217, 217, 1) 100%
    );
}

.buttonRowButton > img {
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.buttonRowButton:active {
    transform: perspective(500px) rotateX(-20deg);
    transform-origin: top;
    box-shadow: 5px 5px 5px gray;
}

/* Radio */

.radioContainer {
    width: 400px;
    height: 100px;
    outline: 2px solid black;
    border-radius: 3px;
    position: absolute;
    left: 30px;
    top: 20px;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 3px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.2px);
    -webkit-backdrop-filter: blur(1.2px);
}

.radioTunerDisplay {
    width: 380px;
    height: 2px;
    border: 2px dashed black;
    position: absolute;
    left: 10px;
    top: 40px;
}

.radioTunerDisplay::after {
    content: "";
    width: 380px;
    height: 2px;
    border: 2px dashed black;
    position: absolute;
    top: 40px;
    left: 0px;
}

.frequencies {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: fit-content;
    padding-top: 20px;
}

.radioControlContainer {
    width: 400px;
    height: 100px;
    outline: 2px solid black;
    border-radius: 3px;
    position: absolute;
    left: 30px;
    top: 140px;
    background-color: whitesmoke;
    display: flex;
}

.tunerKnob {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    outline: 5px solid black;
    position: absolute;
    top: 15px;
    left: 20px;
    background: radial-gradient(
        circle,
        rgba(221, 217, 217, 1),
        rgba(94, 92, 92, 1)
    );
    box-shadow: 5px 5px 5px gray;
}

.tunerKnobDimple {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 10px;
    background: radial-gradient(
        circle,
        rgba(94, 92, 92, 0.6),
        rgba(221, 217, 217, 1)
    );
}

.radioControlButtonContainer {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 30px;
    padding-top: 15px;
    margin-left: 120px;
}

.radioControlButton {
    height: 70px;
    width: 40px;
    outline: 2px solid black;
    border-radius: 3px;
    font-size: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 2px 2px 2px black;
}

.radioControlButton:active {
    transform: perspective(500px) rotateX(-20deg);
    transform-origin: top;
    box-shadow: 5px 5px 5px gray;
}
